numpy
scipy
joblib
threadpoolctl
cython
matplotlib
scikit-image
pandas
seaborn
memory_profiler
pytest
pytest-cov
flake8
black
mypy
pyamg
sphinx
sphinx-gallery
numpydoc
Pillow
pooch
sphinx-prompt
sphinxext-opengraph
plotly
conda-lock
scikit-learn
flask